 ELEMENT RESETS */
/* code from Hamilton Cline email: MHCline@academyart.edu */

*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--color-neutral-light: #eaeeef;
   --color-neutral-medium: #9aa2a4;
   --color-neutral-dark: #363c3e;

   --color-white: #fff;
   --color-black: #000;

	--header-height:3rem;
	--gap-size:1rem;
	--container-width:1000px;

	--font-serif: Georgia, "Times New Roman", serif;
	--font-sans: Helvatica, arial, sans-serif;

}

body {
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
	
}

#css-zen-garden {
	

}

.page-wrapper {

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:var(--font-serif);
	color: white;
	padding-right: 20px;
	text-align: center;
}

a {
	display:inline-block;
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}

/* <a> elements with a title attribute */
a[title] {
  color: purple;
}

/* https://emotivefeels.com/ */

header {
	height: 100vh;
    display: flex;
    background: background: rgb(255, 236, 0);
    margin-left: auto;
    margin-right: auto;

}

header:hover {
  background-color:rgb(255, 224, 14);
  border-color: 
  cursor:pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(255, 212, 29);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(255, 152, 101);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(255, 114, 49);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(248, 91, 21);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(219, 77, 71);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(48, 66, 173);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(0, 125, 201);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(1, 185, 170);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  background-color:rgb(4, 201, 87);
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;

  transition: background-color 1s ease-out;
}





/* Small Classes */

section {

}

.intro {
	background: rgb(255, 236, 0);
    width: 100%;
    user-select: none;
}


#zen-intro {

	
}

#zen-intro[role=banner] {
	
}

#zen-intro[role=banner]:hover {
	
}
div {

  	
}

.summary {
	
  width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;

}

#zen-summary {
	width: auto;
  height: auto;
  background: rgb(4, 201, 87);
  transition: width 2s;
}

#zen-summary:hover {
	width: 300px;
	transition-timing-function: ease;
}

#zen-summary[role=article] {

}

.preamble {

	background: rgb(255, 212, 29);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#zen-preamble {
	width: auto;
      height: auto;
      background: rgb(4, 198, 101);;
      border-radius: 50%;
}
#zen-preamble:hover {
	width: 50%;
	align-items: left;
	transform: rotate(180deg);
}

#zen-preamble[role=article] {

}

.main supporting {
	background: rgb(255, 200, 43);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;

}

#zen-supporting {
	
}


#zen-supporting[role=main] {

}

.explanation {
	background: rgb(255, 188, 58);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#zen-explanation {
	width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      position: relative;
}

#zen-explanation[role=article] {
	
}

.participation {
	background: rgb(255, 176, 72);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#zen-participation {

}

#zen-participation[role=article] {
	
}

.benefits {
	background: rgb(255, 164, 87);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#zen-benefits {

}

#zen-benefits[role=article] {
	
}
.requirements {
	background: rgb(255, 152, 101);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#zen-requirements {

}

#zen-requirements[role=article] {
	
}

p {
	padding-left: 700px;
	padding-right: 20px;
  	width: 500px;
  	height: auto;
  	text-align: justify;
  	color: white;
  	position: flex;

}

abbr {

}

a {

}

/* Footer */
/* http://www.csszengarden.com/ */
footer {
	clear: both;
    padding: 3em 10%;
    color: #fff;
    background: rgb(255, 134, 106);
    text-align: center;
}

footer a::before {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    overflow: visible;
    font-size: 36px;
    text-indent: 0;
    font-family: 'verdemoderna';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

footer a.zen-validate-html::before {
    /*content: "5";*/
}

.zen-validate-html {
	
}

footer a.zen-validate-css::before {
    /*content: "3";*/
}
.zen-validate-css {
	
}

footer a.zen-license::before {
    /*content: "c";*/
}

.zen-license {
	
}

footer a.zen-accessibility::before {
    /*content: "a";*/
}

.zen-accessibility {
	
}

footer a.zen-github::before {
    /*content: "g";*/
}

footer a:visited {
    
}

.zen-github {

}

@media only screen and (max-width: 1150px) and (min-width: 500px)
footer a {
    width: 52px;
    height: 52px;
    padding: 52px 0 0 0;
    margin: 0 2em;
    font-size: 48px;
}

footer a {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding: 40px 0 0 0;
    margin: 0 0.5em;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}






/* aside */

aside {

}

.sidebar {
	
}

.sidebar[role=complementary] {

}

.wrapper {
        background: rgb(255, 140, 116);
		padding-right: 20px;
  		width: 100%;
  		height: auto;
  		text-align: justify;
  		color: white;
}

.design-selection {
	background: rgb(255, 134, 106);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#design-selection {

}

.select {
	background: rgb(255, 129, 92);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}	

.design-archives {
	

}

#design-archives {

}

.archives {
	background: rgb(255, 124, 77);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

#archives {

}


/*nav*/

nav {

}

nav[role=navigation]{

}

.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.navbar li:not(:last-child) a {
	padding-left:0.5em;
	padding-right:0.5em;
}
.navbar li:last-child a {
	padding-left:0.5em;
}

.next {
	background: rgb(255, 119, 63);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.viewall {
	background: rgb(255, 114, 49);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

span {

}

.design-name {

}

.zen-resources {

}

#zen-resources {

}

.resources {
	background: rgb(255, 109, 34);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.view-css {
	background: rgb(255, 105, 20);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.css-resources {
	background: rgb(255, 100, 6);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;

}

.zen-faq {
	background: rgb(253, 96, 6);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.zen-submit {
	background: rgb(251, 94, 13);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

.zen-translations {
	background: rgb(248, 91, 21);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;

}

/*bottom*/

.extra1 {
	background: rgb(245, 89, 28);
	width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;

}

.extra1[role=presentation] {

}

.extra2[role=presentation] {
	
}

.extra3[role=presentation] {
	
}

.extra4[role=presentation] {
	
}

.extra5[role=presentation] {
	
}

.extra6[role=presentation] {
	
}











@media (max-width:1000px) {
	



.menu-button { display:none; }

@media (max-width:500px) {
	.page-wrapper {

	}

@media (min-width: 800px) {
    .wrapper {
        display: grid;
        grid-gap: 16px;
        
    }
    
    aside {
        align-self: start;
    }
}

/* LAYOUT GRID SYSTEM */
/* code from Michael Catanzaro email: MCatanzaro@academyart.edu */

/*.grid {
	display: grid;
	--grid-gap: 1em;
	grid-template-columns: repeat(12,1fr);
}
	.grid-10 {
		grid-template-columns: repeat(10,1fr);
	}


.grid.gap {
	grid-gap: var(--grid-gap);
	gap: var(--grid-gap);
}
	.gap.large { --grid-gap: 2em; }
	.gap.medium { --grid-gap: 1em; }
	.gap.small { --grid-gap: 0.5em; }




.col-0 { display: none; }
.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }


@media (min-width:0) {
	.gap.xs-large { --grid-gap: 2em; }
	.gap.xs-medium { --grid-gap: 1em; }
	.gap.xs-small { --grid-gap: 0.5em; }

	.col-xs-0 { display: none; }
	.col-xs-1 { grid-column: span 1; }
	.col-xs-2 { grid-column: span 2; }
	.col-xs-3 { grid-column: span 3; }
	.col-xs-4 { grid-column: span 4; }
	.col-xs-5 { grid-column: span 5; }
	.col-xs-6 { grid-column: span 6; }
	.col-xs-7 { grid-column: span 7; }
	.col-xs-8 { grid-column: span 8; }
	.col-xs-9 { grid-column: span 9; }
	.col-xs-10 { grid-column: span 10; }
	.col-xs-11 { grid-column: span 11; }
	.col-xs-12 { grid-column: span 12; }
}

@media (min-width:320px) {
	.gap.sm-large { --grid-gap: 2em; }
	.gap.sm-medium { --grid-gap: 1em; }
	.gap.sm-small { --grid-gap: 0.5em; }

	.col-sm-0 { display: none; }
	.col-sm-1 { grid-column: span 1; }
	.col-sm-2 { grid-column: span 2; }
	.col-sm-3 { grid-column: span 3; }
	.col-sm-4 { grid-column: span 4; }
	.col-sm-5 { grid-column: span 5; }
	.col-sm-6 { grid-column: span 6; }
	.col-sm-7 { grid-column: span 7; }
	.col-sm-8 { grid-column: span 8; }
	.col-sm-9 { grid-column: span 9; }
	.col-sm-10 { grid-column: span 10; }
	.col-sm-11 { grid-column: span 11; }
	.col-sm-12 { grid-column: span 12; }
}

@media (min-width:600px) {
	.gap.md-large { --grid-gap: 2em; }
	.gap.md-medium { --grid-gap: 1em; }
	.gap.md-small { --grid-gap: 0.5em; }

	.col-md-0 { display: none; }
	.col-md-1 { grid-column: span 1; }
	.col-md-2 { grid-column: span 2; }
	.col-md-3 { grid-column: span 3; }
	.col-md-4 { grid-column: span 4; }
	.col-md-5 { grid-column: span 5; }
	.col-md-6 { grid-column: span 6; }
	.col-md-7 { grid-column: span 7; }
	.col-md-8 { grid-column: span 8; }
	.col-md-9 { grid-column: span 9; }
	.col-md-10 { grid-column: span 10; }
	.col-md-11 { grid-column: span 11; }
	.col-md-12 { grid-column: span 12; }
}

@media (min-width:900px) {
	.gap.lg-large { --grid-gap: 2em; }
	.gap.lg-medium { --grid-gap: 1em; }
	.gap.lg-small { --grid-gap: 0.5em; }

	.col-lg-0 { display: none; }
	.col-lg-1 { grid-column: span 1; }
	.col-lg-2 { grid-column: span 2; }
	.col-lg-3 { grid-column: span 3; }
	.col-lg-4 { grid-column: span 4; }
	.col-lg-5 { grid-column: span 5; }
	.col-lg-6 { grid-column: span 6; }
	.col-lg-7 { grid-column: span 7; }
	.col-lg-8 { grid-column: span 8; }
	.col-lg-9 { grid-column: span 9; }
	.col-lg-10 { grid-column: span 10; }
	.col-lg-11 { grid-column: span 11; }
	.col-lg-12 { grid-column: span 12; }
}

@media (min-width:1200px) {
	.gap.xl-large { --grid-gap: 2em; }
	.gap.xl-medium { --grid-gap: 1em; }
	.gap.xl-small { --grid-gap: 0.5em; }

	.col-xl-0 { display: none; }
	.col-xl-1 { grid-column: span 1; }
	.col-xl-2 { grid-column: span 2; }
	.col-xl-3 { grid-column: span 3; }
	.col-xl-4 { grid-column: span 4; }
	.col-xl-5 { grid-column: span 5; }
	.col-xl-6 { grid-column: span 6; }
	.col-xl-7 { grid-column: span 7; }
	.col-xl-8 { grid-column: span 8; }
	.col-xl-9 { grid-column: span 9; }
	.col-xl-10 { grid-column: span 10; }
	.col-xl-11 { grid-column: span 11; }
	.col-xl-12 { grid-column: span 12; }
}
